<div class="ui segment">
    <h2 class="ui header">Custom Pipes</h2>
    <div class="ui grid padded ">
      <div class="row">
        <div class="ui card eight wide column">
          <div class="content">
            <div class="header">Default Pipe</div>
            <img [src]="imageUrl | default:'http://s3.amazonaws.com/uifaces/faces/twitter/sillyleo/128.jpg'"/>
          </div>
        </div>
        <div class="ui card eight wide column">
          <div class="content">
            <div class="header">Multiple params</div>
            <img [src]="imageUrl | default:'http://s3.amazonaws.com/uifaces/faces/twitter/sillyleo/128.jpg':true"/>
          </div>
        </div>

        <div class="ui card eight wide column">
          <div class="content">
            <div class="header">Clean Pipe</div>
            <p>{{ text | clean:'boo,damn,hell'}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>