<div class="ui segment">
    <h2 class="ui header">Custom Pipes</h2>
    <div class="ui grid padded ">
      <div class="row">
        <div class="ui card eight wide column">
          <div class="content">
            <div class="header">Default Pipe</div>

          </div>
        </div>
        <div class="ui card eight wide column">
          <div class="content">
            <div class="header">AsyncPipe with observables</div>

          </div>
        </div>
      </div>
    </div>
  </div>